* {
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
}

.box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: #3535b8;
}

#game {
    border: 1px solid black;
}
